body {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    height: 100vh;
}
.form_authorization {
    display: flex;
    flex-direction: column;
    width: 400px;
}
