body {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    height: 100vh;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 15px solid #e3e3e3;
    border-top: 5px solid #e3e3e3;
    border-collapse: collapse;
    text-align: center;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #e3e3e3;
    border: none;
    border-bottom: 5px solid #e3e3e3;
}

table td {
    padding: 15px;
    border: none;
    border-bottom: 5px solid #e3e3e3;
    border: 2px solid #e3e3e3;
}

.button_place {
    color: #717171;
    text-decoration: none;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

.button_place a {
    background-color: #e3e3e3;
    text-decoration: none;
    margin: 10px 0 10px 10px;
    padding: 10px;
    color: #717171;

}


.container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
}

.container h1 {
    text-align: center;
}

.form_authorization {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.form_authorization input,
label,
button,
select {
    margin: 5px;
}

.form_authorization input {
    border: unset;
    padding: 10px;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

.login,
.password,
.email,
.username,
.userlastname,
.rule,
.birthday,
.class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

button {
    padding: 10px;
    background-color: #e3e3e3;
    border: unset;
    cursor: pointer;
    color: #717171;
    width: 125px;
}

button:hover {
    background: #e6e6ff;
}

.button_form_authorization {
    margin: auto;
    display: flex;
    align-items: center;
}

.button_form_authorization a {
    margin: 10px;
}

a {
    background-color: #e3e3e3;
    text-decoration: none;
    padding: 10px;
    color: #717171;
    text-align: center;
    width: 130px;
}

a:hover {
    background-color: #e6e6ff;
}

select {
    width: 210px;
}